@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200;300;400&family=Work+Sans:wght@100;200;300&display=swap');

$bodyFont: 'Work Sans';
$headingFont: Newsreader, serif;

@mixin h1-desktop {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: normal;
  margin: 0;
}

@mixin h2-desktop {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: normal;
  margin: 0;
}

@mixin h3-desktop {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: normal;
  margin: 0;
}

@mixin h4-desktop {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: normal;
  margin: 0;
}

@mixin h5-desktop {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  margin: 0;
}

@mixin p-desktop {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

@mixin sub-desktop {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@mixin micro-desktop {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
}

@mixin h1-mobile {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: normal;
  margin: 0;
}

@mixin h2-mobile {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: normal;
  margin: 0;
}

@mixin h3-mobile {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  margin: 0;
}

@mixin h4-mobile {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
  margin: 0;
}

@mixin h5-mobile {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  margin: 0;
}

@mixin p-mobile {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

@mixin sub-mobile {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
}

@mixin micro-mobile {
  font-family: $bodyFont;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
}
