.c-menu {
}

.c-menu__item {
  position: relative;
  display: inline-block;

  &--current {
    & > .c-menu__item-link {
      font-weight: 600;
    }
  }

  &--expanded {
    & > .c-menu__submenu {
      display: block;
    }
  }
}

.c-menu__item-link {
  color: colour(black);
  display: block;
  padding: 0 2em 1em 0;
  text-decoration: none;
  &:hover {
    color: colour(pink);
    text-decoration: underline;
  }
}

.c-menu__submenu {
  display: none;
  margin-left: 15px;
}
