.product__view {
    padding: 2em 0;
    margin: -1em;

    .u-col {
        box-sizing: border-box;
        padding: 1em;
    }
}

.product__image-slide {

    img {
        display: block;
        width: 100%;
    }
}

.product__tags {
    margin: 3em 0;
    
    p {
        font-size: 14px;
        margin-bottom: 3px;
    }

}